.promo {
    position: relative;
    &__bg {
        position: absolute;
        top: 112px;
        right: 0;
        width: 1037px;
        height: 477px;
        background: url(../img/first_screen.jpg) center / cover no-repeat;
}
    &__head {
        display: flex;
    }
    &__logo {
        padding-top: 18px;
        margin-right: 24px;
        margin-bottom: 33px;
    }
    &__wrapper{
        display: flex;
        padding-top: 42px;
        align-items: center;
    }
    &__divider {
        height: 33px;
        width: 1px;
        background-color: #fff;
    }
    &__descr {
        width: 189px;
        padding: 0 38px 0 21px;
        margin-right: 359px;
        text-align: left;
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: $main-color;
    }
    &__right {
        padding-top: 24px;
    }
    &__phone {
        display: block;
        margin-bottom: 5px;
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F1F1F1;
        &:hover {
            text-decoration: none;
            color: #F1F1F1;
        }
    }
    &__help {
        display: block;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-decoration-line: underline;
        color: $main-color;
        &:hover {
            color: $main-color;
        }
    }
    &__weather {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    &__weather-left,
    &__weather-right {
        display: flex;
        flex-direction: column;
        margin-right: 34px;
    }

    &__weather-icons {
        display: flex;
        align-items: center;
        svg {
            margin: 0 8px 8px 0;
        }
    }

    &__weather-descr {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #F1F1F1;
    }

    &__heading {
        width: 617px;
        margin-bottom: 14px;
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 63px;
        color: #2194FF;
    }

    &__subtitle {
        position: relative;
        margin-bottom: 40px;
        img {
            position: absolute;
            width: 71px;
            height: 90px;
            left: 295px;
            top: 5px;
        }
    }
    &__subtitle-descr {
        width: 617px;
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F1F1F1;
    }
    &__button {
        width: 395px;
        height: 87px;
        margin-bottom: 13px;
    }
    &__delivery {
        margin-bottom: 72px;
        padding-left: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #F1F1F1;
    }
}
